name: Build
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 8
          cache: 'maven'

      - name: Set up Aerospike Database
        uses: reugn/github-action-aerospike@v1

      - name: Build with Maven
        run: mvn clean package -B -U